h1 {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    background: linear-gradient(#5b5b5b, #000000);
    border-radius: 10px;
    border: black solid 1px;
    padding: 0 2em 2em 2em;
    margin: 1em 6em;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 2em;
}

.quote-box {
    opacity: 0;
    max-height: 0;
    overflow: hidden;

    transition: opacity 0.75s ease-in-out,
    max-height 0.75s ease-in-out;
}

.quote-box.show {
    opacity: 1;
}

.quote-box.adjust-height {
    max-height: 300px;
}

.subtitle {
    display: flex;
    font-style: italic;
    text-align: center;
    color: lightgray;
    opacity: 90%;
    flex: 1;
    justify-self: center;
}

.title-header {
    align-self: center;
    justify-self: start;
}

.request-quote-button {
    margin-top: 1em;
    font-style: italic;
}